{% extends 'base.html.twig' %}

{% block title %}License Plates{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="text-center">
        <h1>Your License Plates / Cars</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>License_plate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for license_plate in license_plates %}
            <tr>
                <td>{{ license_plate.license_plate }}</td>
                <td>
                    <a href="{{ path('license_plate_delete', {'id': license_plate.id}) }}">
                        Delete
                    </a>
                    <a href="{{ path('license_plate_edit', {'id': license_plate.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('license_plate_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}