{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Create new Activity</h1>

    {{ include('home/_form.html.twig') }}

{#    <a href="{{ path('user_index') }}">back to list</a>#}
{% endblock %}



{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    <script type="text/javascript">#}
{#        $(document).ready(function()#}
{#        {#}
{#            var licensePlates = new Bloodhound(#}
{#            {#}
{#                datumTokenizer: Bloodhound.tokenizers.whitespace,#}
{#                queryTokenizer: Bloodhound.tokenizers.whitespace,#}

{#                //remote#}
{#                remote: {#}
{#                    url: "{{ path('handle_search') }}/%QUERY%",#}
{#                    wildcard: '%QUERY%',#}
{#                    filter: function(licensePlates)#}
{#                    {#}
{#                        return $.map(licensePlates, function(lp){#}
{#                            return {#}
{#                                lp_name: lp.license_plate#}
{#                            }#}
{#                        })#}
{#                    }#}
{#                }#}
{#            });#}

{#            licensePlates.initialize();#}
{#            //i_blocked_activity_Blocker#}
{#            $('#i_blocked_activity_Blocker').typeahead(#}
{#                {#}
{#                    hint:true#}
{#                },#}
{#                {#}
{#                    name: 'licensePlates',#}
{#                    source: licensePlates.ttAdapter(),#}
{#                    display: 'lp_name'#}
{#                }#}
{#            )#}

{#        })#}
{#    </script>#}
{#{% endblock %}#}
